<main class="main">
<section class="left_section">
    <form class="form" action="">
        <input class="input js_input" type="text">
        <input class="submit-button js_submit_button" type="submit" value="Buscar">
    </form>
    <h2 class="title">Mis series favoritas:</h2>
    <ul class="favs_list js_favs_list">
        <li class="list_item js_list_item">
            <img class="img" src="" alt="movie cover">
            <h2 class="movie_title">Movie Title</h2>
        </li>
    </ul>
</section>
<section class="right_section">
    <ul class="list js_list">
    <li class="list_item js_list_item fav">
        <img class="img" src="" alt="movie cover">
        <h2 class="movie_title">Movie Title</h2>
    </li>
    </ul>
</section>
</main>
