// fonts
$page_font: "Roboto", sans-serif;
$title_font: "Roboto Slab", serif;
// color palette
$darkish_pink: #f79fc8;
$med_pink: #f5dae0;
$light_pink: #ffeeed;
$light_yellow: #f6de8c;
$med_brown: #736762;
$light_brown: #b5a899;
$light_blue: #b1e1d8;
$white: #ffffff;
$dark_brown: #502c1d;
