.body {
  height: 100vh;
  background-color: lightskyblue;
}
.main {
  min-height: 70%;
  padding: 30px 0 30px 0;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}
