.body {
  height: 100vh;
  background-color: lightskyblue;
}
.main {
  height: 70%;
  padding: 30px 0 30px 0;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
